
body {
    background-image: url("https://cdn.wallpapersafari.com/36/61/14EOG5.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    
}
#questions{
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}

#countdown {
  color:whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#response {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  
}

.wrapper {
  padding: 5px;
}

img {
  max-height: 250px;
  width: auto;
}



 h1 {
    color: whitesmoke;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
   
} 


.wrapper {
    margin: 10px auto;
    background-color: rgba(245, 247, 232, 0.048);
    border: 2px solid #c58f2421; 
    height: 400px;
    width: 100%;
    text-align: center;
  }

  .btn {
    position: relative;
    bottom: -150px;
  }

  .warning {
    border: #112686b9;
  }


